
  <nb-card accent="primary">
    <nb-card-body>
      <nb-card-header>帳號密碼規則</nb-card-header>
      <hr>
      <nb-card-body>

        <form>
          <div> 密碼 </div>
          <hr>
          <div class="form-group row">
            <!-- 密碼最短長度 -->
            <div class="col-sm-3">
            <label for="" class="col-form-label d-flex justify-content-start">密碼最短長度:</label>
            <select name="" id="" class="form-control" >
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="10">11</option>
              <option value="10">12</option>
            </select>
            </div>
            
            <!-- 密碼複雜度 -->
            <div class="col-sm-3">
            <label for="" class="col-form-label  d-flex justify-content-start">密碼複雜度:</label>
              <select name="" id="" class="form-control" >
                <option value="enabled">啟用</option>
                <option value="disabled">不啟用</option>
              </select>
            </div>

            <!-- 重設密碼有效時間 -->
            <div class="col-sm-3">
            <label for="" class="col-form-label  d-flex justify-content-start">重設密碼有效時間(小時):</label>
              <select name="" id="" class="form-control" >
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
              </select>
            </div>

            <!-- 密碼歷程紀錄 -->
            <div class="col-sm-3">
            <label for="" class="col-form-label  d-flex justify-content-start">密碼歷程紀錄:</label>
              <select name="" id="" class="form-control" >
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
                <option value="4">6</option>
                <option value="4">7</option>
              </select>
            </div>

          </div>

          <div class="form-group row">
            <!-- 密碼使用期限 -->
            <div class="col-sm-3">
            <label for="" class="col-form-label d-flex justify-content-start">密碼使用期限(天):</label>
            <select name="" id="" class="form-control" >
              <option value="30">30</option>
              <option value="60">60</option>
              <option value="90">90</option>
            </select>
            </div>

          </div>

          <div> 帳號 </div>
          <hr>

          <div class="form-group row">

            <!-- 未活耀帳號凍結時間 -->
            <div class="col-sm-3">
            <label for="" class="col-form-label  d-flex justify-content-start">未活耀帳號凍結時間(天):</label>
              <select name="" id="" class="form-control" >
                <option value="30">60</option>
                <option value="90">90</option>
                <option value="120">120</option>
                <option value="150">150</option>
                <option value="180">180</option>
                <option value="210">210</option>
              </select>
            </div>

            <!-- 不正確登入嘗試(次) -->
            <div class="col-sm-3">
            <label for="" class="col-form-label  d-flex justify-content-start">不正確登入嘗試(次):</label>
              <input name="" id="" class="form-control" placeholder="5" value="5" />
            </div>

            <!-- 帳號鎖定時間 -->
            <div class="col-sm-3">
            <label for="" class="col-form-label  d-flex justify-content-start">帳號鎖定時間(分鐘):</label>
              <input name="" id="" class="form-control" placeholder="15" value="15" />
            </div>            

          </div>

<!-- 
          <div class="form-group row">
              <label for="inputPassword2" class="col-sm-3 col-form-label  d-flex justify-content-end">英文</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword2" placeholder="0933123456">
              </div>
          </div>

          <div class="form-group row">
              <label for="inputPassword2" class="col-sm-3 col-form-label  d-flex justify-content-end">連絡電話</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword2" placeholder="0223451234">
              </div>
          </div>

          <div class="form-group row">
              <label for="inputPassword2" class="col-sm-3 col-form-label  d-flex justify-content-end">傳真電話</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword2" placeholder="0244987311">
              </div>
          </div>

          <div class="form-group row">
              <label for="inputPassword2" class="col-sm-3 col-form-label  d-flex justify-content-end">地址</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword2" placeholder="北市湖湖路九段頁頁巷">
              </div>
          </div> -->

        
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">確定</button>
            </div>

            <div class="d-flex justify-content-end" (click)="goback()">
              <button style="margin-left: 5px" class="btn btn-warning">回上一頁</button>
            </div>
        </form>
      </nb-card-body>
    </nb-card-body>
  </nb-card>
