<div class="row">
  <div class="col-xxxl-4 col-md-4" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title"
                     [type]="statusCard.type"
                     [number]="statusCard.number">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
          <div echarts [options]="chartOption3" class="demo-chart"></div>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-md-8">
      <nb-card>
        <nb-card-body>
            <div echarts [options]="chartOption" class="demo-chart"></div>
        </nb-card-body>
      <!-- <nb-card-body> 
          <select>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">11</option>
            <option value="">12</option>
          </select>
        </nb-card-body>  -->
      </nb-card>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
      <nb-card>
          <nb-card-body>
              <div echarts [options]="chartOption2" class="demo-chart"></div>
          </nb-card-body>
        </nb-card>
  </div>
  
</div>

<!-- <div class="row">
<div class="col-xxl-7">
  <ngx-ecommerce-charts></ngx-ecommerce-charts>
</div>
</div> -->