<nb-card accent="primary">
   <nb-card-body>
      <nb-card-header>服務總攬</nb-card-header>
      <hr>

      <!-- 新增 -->
      <!-- <nb-card-body>
            <div class="row">
                <div class="col-sm-2">
                    <label for=""><i style="visibility: hidden" class="nb-search" ></i></label>
                    <div class="d-flex justify-content-center"><button class="btn btn-success" (click)="addAdmin()">新增</button></div>
                </div>
            </div>
      </nb-card-body> -->

   <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
   </nb-card-body>
    
      <!-- <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">確定</button>
          </div> -->

   </nb-card-body>

  </nb-card>





  <!-- 別人不要 我要! -->

  <!-- <nb-card-body class="row">

        <nb-card-body class="col-sm-12">
          <div style="font-weight: bold">TT<hr></div>
          
          <div class="row">
              <div class="col-sm-6 d-flex justify-content-center">
                      <div class="upload-btn-wrapper">
                          <button class="btn btn-upload">上傳照片</button>
                          <input type="file" name="myfile" />
                      </div>
                      <img src="./../../../../assets/images/tt.jpg"/>
              </div>
              <div class="col-sm-6">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="searchTellphone">服務名字:</label>
                      <input type="email" class="form-control" id="searchTellphone" placeholder="TT">
                    </div>
                  </div>
              </div>
              <div class="col-sm-2">
                  <button class="btn btn-primary" (click)="goEdit($event)"><i class="ion-edit"></i></button>
              </div>
          </div>
        </nb-card-body>
    </nb-card-body>

    <nb-card-body class="row">

     
        <nb-card-body class="col-sm-12">
          <div style="font-weight: bold">TTS<hr></div>
         
          <div class="row">
                  <div class="col-sm-6 d-flex justify-content-center">
                          <div class="upload-btn-wrapper">
                              <button class="btn btn-upload">上傳照片</button>
                              <input type="file" name="myfile" />
                          </div>
                          <img src="./../../../../assets/images/tts.jpg"/>
                  </div>
                  <div class="col-sm-6">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="searchTellphone">服務名字:</label>
                          <input type="email" class="form-control" id="searchTellphone" placeholder="TTS">
                        </div>
                      </div>
                  </div>
              </div>

          
        </nb-card-body>
    </nb-card-body>

    <nb-card-body class="row">
      
 
        <nb-card-body class="col-sm-12">
          <div style="font-weight: bold">採洽易<hr></div>

          <div class="row">
                  <div class="col-sm-6 d-flex justify-content-center">
                          <div class="upload-btn-wrapper">
                              <button class="btn btn-upload">上傳照片</button>
                              <input type="file" name="myfile" />
                          </div>
                          <img src="./../../../../assets/images/isourcing.jpg"/>
                  </div>
                  <div class="col-sm-6">
                     <div class="col-sm-6">
                        <div class="form-group">
                          <label for="searchTellphone">服務名字:</label>
                          <input type="email" class="form-control" id="searchTellphone" placeholder="採洽易">
                        </div>
                      </div>
                  </div>
              </div>
        </nb-card-body>
    </nb-card-body>

    <nb-card-body class="row">
 
        <nb-card-body class="col-sm-12">
          <div style="font-weight: bold">活動匯<hr></div>
          <div class="row">
                  <div class="col-sm-6 d-flex justify-content-center">
                          <div class="upload-btn-wrapper">
                              <button class="btn btn-upload">上傳照片</button>
                              <input type="file" name="myfile" />
                          </div>
                          <img src="./../../../../assets/images/tt.jpg"/>
                  </div>
                  <div class="col-sm-6">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="searchTellphone">服務名字:</label>
                          <input type="email" class="form-control" id="searchTellphone" placeholder="活動匯">
                        </div>
                      </div>
                  </div>
              </div>
        </nb-card-body>
    </nb-card-body>

    <nb-card-body class="row">
    
        <nb-card-body class="col-sm-12">
          <div style="font-weight: bold">新南向<hr></div>
          <div class="row">
                  <div class="col-sm-6 d-flex justify-content-center">
                          <div class="upload-btn-wrapper">
                              <button class="btn btn-upload">上傳照片</button>
                              <input type="file" name="myfile" />
                          </div>
                          <img src="./../../../../assets/images/newsouth.jpg"/>
                  </div>
                  <div class="col-sm-6">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="searchTellphone">服務名字:</label>
                          <input type="email" class="form-control" id="searchTellphone" placeholder="新南向">
                        </div>
                      </div>
                  </div>
              </div>
        </nb-card-body>
    </nb-card-body> -->




  