



        <nb-card accent="primary">
          <nb-card-body>
              <nb-card-header>權限角色列表</nb-card-header>
              <hr>
            <!-- 新增按鈕-->
            <nb-card-body>
                <div class="row d-flex justify-content-start" style="margin-bottom: 1%">
                    <div class="col-sm-2">
                        <label for=""><i style="visibility: hidden" class="nb-search" ></i></label>
                        <div class="d-flex justify-content-center"><button class="btn btn-success" (click)="addAdmin()">新增</button></div>
                    </div>
                  </div>
            </nb-card-body> 
            <!-- 表格-->
            <nb-card-body>
                <!-- (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="test($event)" -->
              <ng2-smart-table [settings]="settings" [source]="source">
              </ng2-smart-table>
            </nb-card-body>

          </nb-card-body>
          
          </nb-card>


